<article class='order'>
    <ul class='pure-menu-list'>
        <li class='pure-menu-item'>
            <h4><a
                    class='link'
                    href='/customer/{{id}}'
                >{{customer_name}}</a></h4>
            <p>{{customer_phone}}</p>
            <p>Posted by {{user.username}}</p>
        </li>
    </ul>
</article>