
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.2.0/build/pure-min.css" integrity="sha384-7UE2/aLxcikvluV1XGghN2k6i+LoAwMjrZb4oVT9gGPPcLd2sjqAtgIinHb11RJz" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.2.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="../css/style.css">
        <title>Niche</title>
    </head>
    <body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Niche</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
            {{#if loggedIn}}
            <li class="pure-menu-item pure-item-link"><a href="/orders" class="pure-menu-link">Orders</a></li>
            <li class="pure-menu-item"><button class="pure-menu-link" id="logout">Logout</button></li>
            {{else}}
            <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
            {{/if}}
        </ul>
    </div>
</div>
        <main>
            {{{body}}}
        </main>
        <footer>

        </footer>
    {{#if loggedIn}}
    <script src="./js/logout.js"></script>
    {{/if}}
    </body>
</html>