<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/combine/npm/purecss@2.2.0/build/base-min.css,npm/purecss@2.2.0/build/grids-min.css,npm/purecss@2.2.0/build/forms-min.css" />    
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/layouts/marketing/styles.css">
   
    <title>Niche</title>
</head>
<body>
    <header>
        <h1>Niche</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>

    </footer>
</body>
</html>