
<div class="login-form">
  <form class="pure-form pure-form-aligned">
  <fieldset>
    <h3>Login</h3>
    <div class="pure-control-group">
      <label for="username-login"></label>
      <input type="text" id="username-login" placeholder="Username" />
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>
    <div class="pure-control-group">
      <label for="password-login"></label>
      <input type="password" id="password-login" placeholder="Password" />
    </div>
    <div class="login-button">
    <div class="pure-controls">
      <button
        type="submit"
        class="button-success pure-button"
      >Login</button>
    </div>
    </div>
  </fieldset>
</form>
</div>
<div class="signup-form">
  <form class="pure-form pure-form-aligned signup-form">
  <fieldset>
    <h3>Signup</h3>
    <div class="pure-control-group">
      <label for="username-signup"></label>
      <input type="text" id="username-signup" placeholder="Username" />
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>
    <div class="pure-control-group">
      <label for="password-signup"></label>
      <input type="password" id="password-signup" placeholder="Password" />
    </div>
    <div class="signup-button">
    <div class="pure-controls">
      <button type="submit" class="button-success pure-button">Sign up</button>
    </div>
    </div>
  </fieldset>
</form>
<script src="./javascript/login.js"></script>