   <div class="content">
        <h2 class="content-head is-center">Please login</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <h3>Login</h3>
                    <fieldset>
                        <label for="username">Username</label>
                        <input id="username" type="text" placeholder="Enter username here">

                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Enter password here">
                    </fieldset>
                </form>
            </div>
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <h3>Sign Up</h3>
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Username</label>
                        <input id="username-signup" type="text" placeholder="Username">


                        <label for="email">Your Email</label>
                        <input id="email-signup" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password-signup" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="footer l-box is-center">
        Random text that NEEDS TO BE REPLACED****
    </div>
</div>
<script src="/js/login.js"></script>
