<form class='pure-form pure-form-aligned login-form'>
    <fieldset>
        <h3>Login</h3>
        <div class='pure-control-group'>
            <label for='username-login'>Username</label>
            <input type='text' id='username-login' placeholder='Username' />
            <span class='pure-form-message-inline'>This is a required field.</span>
        </div>
        <div class='pure-control-group'>
            <label for='password-login'>Password</label>
            <input type='password' id='password-login' placeholder='Password' />
        </div>
        <div class='pure-controls'>
            <button
                type='submit'
                class='pure-button pure-button-primary'
            >Login</button>
        </div>
    </fieldset>
</form>
<form class='pure-form pure-form-aligned signup-form'>
    <fieldset>
        <h3>Signup</h3>
        <div class='pure-control-group'>
            <label for='username-signup'>Username</label>
            <input type='text' id='username-signup' placeholder='Username' />
            <span class='pure-form-message-inline'>This is a required field.</span>
        </div>
        <div class='pure-control-group'>
            <label for='password-signup'>Password</label>
            <input
                type='password'
                id='password-signup'
                placeholder='Password'
            />
        </div>
        <div class='pure-control-group'>
            <label for='email-signup'>Email Address</label>
            <input type='text' id='email-signup' placeholder='Email Address' />
        </div>
        <div class='pure-controls'>
            <button type='submit' class='pure-button pure-button-primary'>Sign
                up</button>
        </div>
    </fieldset>
</form>
<script src='./javascript/login.js'></script>